.config
.omake/
.omakedb
.omakedb.lock
boot/
lib/OMakefile.default
lib/OMakeroot.default
lib/OMakeroot.install
lib/Pervasives.install
lib/build/C.install
lib/build/Common.install
lib/build/LaTeX.install
lib/build/OCaml.install
lib/build/svn_realclean.install
lib/configure/Configure.install
lib/configure/X.install
lib/configure/fam.install
lib/configure/fs_case_sensitive.install
lib/configure/ncurses.install
lib/configure/readline.install
lib/configure/snprintf.install
lib/parse/C/Lex.install
lib/parse/C/Parse.install
omake-boot
src/ast/ast.a
src/ast/ast.cmxa
src/ast/omake_ast.cmi
src/ast/omake_ast.cmx
src/ast/omake_ast.o
src/ast/omake_ast_print.cmi
src/ast/omake_ast_print.cmx
src/ast/omake_ast_print.o
src/ast/omake_ast_util.cmi
src/ast/omake_ast_util.cmx
src/ast/omake_ast_util.o
src/build/build.a
src/build/build.cmxa
src/build/omake_build.cmi
src/build/omake_build.cmx
src/build/omake_build.o
src/build/omake_build_tee.cmi
src/build/omake_build_tee.cmx
src/build/omake_build_tee.o
src/build/omake_build_type.cmi
src/build/omake_build_type.cmx
src/build/omake_build_type.o
src/build/omake_build_util.cmi
src/build/omake_build_util.cmx
src/build/omake_build_util.o
src/build/omake_builtin.cmi
src/build/omake_builtin.cmx
src/build/omake_builtin.o
src/build/omake_builtin_type.cmi
src/build/omake_builtin_type.cmx
src/build/omake_builtin_type.o
src/build/omake_builtin_util.cmi
src/build/omake_builtin_util.cmx
src/build/omake_builtin_util.o
src/build/omake_rule.cmi
src/build/omake_rule.cmx
src/build/omake_rule.o
src/build/omake_target.cmi
src/build/omake_target.cmx
src/build/omake_target.o
src/builtin/builtin.a
src/builtin/builtin.cmxa
src/builtin/omake_builtin_arith.cmi
src/builtin/omake_builtin_arith.cmx
src/builtin/omake_builtin_arith.o
src/builtin/omake_builtin_base.cmi
src/builtin/omake_builtin_base.cmx
src/builtin/omake_builtin_base.o
src/builtin/omake_builtin_file.cmi
src/builtin/omake_builtin_file.cmx
src/builtin/omake_builtin_file.o
src/builtin/omake_builtin_fun.cmi
src/builtin/omake_builtin_fun.cmx
src/builtin/omake_builtin_fun.o
src/builtin/omake_builtin_io.cmi
src/builtin/omake_builtin_io.cmx
src/builtin/omake_builtin_io.o
src/builtin/omake_builtin_io_fun.cmi
src/builtin/omake_builtin_io_fun.cmx
src/builtin/omake_builtin_io_fun.o
src/builtin/omake_builtin_object.cmi
src/builtin/omake_builtin_object.cmx
src/builtin/omake_builtin_object.o
src/builtin/omake_builtin_rule.cmi
src/builtin/omake_builtin_rule.cmx
src/builtin/omake_builtin_rule.o
src/builtin/omake_builtin_shell.cmi
src/builtin/omake_builtin_shell.cmx
src/builtin/omake_builtin_shell.o
src/builtin/omake_builtin_sys.cmi
src/builtin/omake_builtin_sys.cmx
src/builtin/omake_builtin_sys.o
src/builtin/omake_builtin_target.cmi
src/builtin/omake_builtin_target.cmx
src/builtin/omake_builtin_target.o
src/builtin/omake_builtin_test.cmi
src/builtin/omake_builtin_test.cmx
src/builtin/omake_builtin_test.o
src/clib/clib.a
src/clib/fam_inotify.c
src/clib/fam_inotify.o
src/clib/fam_kqueue.c
src/clib/fam_kqueue.o
src/clib/fam_pseudo.h
src/clib/fam_win32.c
src/clib/fam_win32.o
src/clib/inotify-syscalls.h
src/clib/inotify.h
src/clib/inotify.om
src/clib/lm_channel.c
src/clib/lm_channel.o
src/clib/lm_compat_win32.c
src/clib/lm_compat_win32.h
src/clib/lm_compat_win32.o
src/clib/lm_ctype.c
src/clib/lm_ctype.o
src/clib/lm_fs_case_sensitive.c
src/clib/lm_fs_case_sensitive.o
src/clib/lm_heap.c
src/clib/lm_heap.h
src/clib/lm_heap.o
src/clib/lm_notify.c
src/clib/lm_notify.o
src/clib/lm_printf.c
src/clib/lm_printf.o
src/clib/lm_terminfo.c
src/clib/lm_terminfo.o
src/clib/lm_termsize.c
src/clib/lm_termsize.o
src/clib/lm_uname_ext.c
src/clib/lm_uname_ext.o
src/clib/lm_unix_cutil.c
src/clib/lm_unix_cutil.o
src/clib/omake_shell_sys.o
src/clib/readline.o
src/clib/unixsupport.h
src/env/env.a
src/env/env.cmxa
src/env/omake_ast_lex.cmi
src/env/omake_ast_lex.cmx
src/env/omake_ast_lex.ml
src/env/omake_ast_lex.o
src/env/omake_ast_parse.cmi
src/env/omake_ast_parse.cmx
src/env/omake_ast_parse.ml
src/env/omake_ast_parse.mli
src/env/omake_ast_parse.mly
src/env/omake_ast_parse.o
src/env/omake_command_digest.cmi
src/env/omake_command_digest.cmx
src/env/omake_command_digest.o
src/env/omake_env.cmi
src/env/omake_env.cmx
src/env/omake_env.o
src/env/omake_exn_print.cmi
src/env/omake_exn_print.cmx
src/env/omake_exn_print.o
src/env/omake_gen_parse
src/env/omake_gen_parse.cmi
src/env/omake_gen_parse.cmx
src/env/omake_gen_parse.o
src/env/omake_gen_parse.opt
src/env/omake_ir_ast.cmi
src/env/omake_ir_ast.cmx
src/env/omake_ir_ast.o
src/env/omake_ir_semant.cmi
src/env/omake_ir_semant.cmx
src/env/omake_ir_semant.o
src/eval/eval.a
src/eval/eval.cmxa
src/eval/omake_eval.cmi
src/eval/omake_eval.cmx
src/eval/omake_eval.o
src/eval/omake_value.cmi
src/eval/omake_value.cmx
src/eval/omake_value.o
src/exec/exec.a
src/exec/exec.cmxa
src/exec/omake_exec.cmi
src/exec/omake_exec.cmx
src/exec/omake_exec.o
src/exec/omake_exec_id.cmi
src/exec/omake_exec_id.cmx
src/exec/omake_exec_id.o
src/exec/omake_exec_local.cmi
src/exec/omake_exec_local.cmx
src/exec/omake_exec_local.o
src/exec/omake_exec_notify.cmi
src/exec/omake_exec_notify.cmx
src/exec/omake_exec_notify.o
src/exec/omake_exec_print.cmi
src/exec/omake_exec_print.cmx
src/exec/omake_exec_print.o
src/exec/omake_exec_remote.cmi
src/exec/omake_exec_remote.cmx
src/exec/omake_exec_remote.o
src/exec/omake_exec_type.cmi
src/exec/omake_exec_type.cmx
src/exec/omake_exec_type.o
src/exec/omake_exec_util.cmi
src/exec/omake_exec_util.cmx
src/exec/omake_exec_util.o
src/ir/ir.a
src/ir/ir.cmxa
src/ir/omake_cache.cmi
src/ir/omake_cache.cmx
src/ir/omake_cache.o
src/ir/omake_cache_type.cmi
src/ir/omake_cache_type.cmx
src/ir/omake_cache_type.o
src/ir/omake_command.cmi
src/ir/omake_command.cmx
src/ir/omake_command.o
src/ir/omake_command_type.cmi
src/ir/omake_command_type.cmx
src/ir/omake_command_type.o
src/ir/omake_install.cmi
src/ir/omake_install.cmx
src/ir/omake_install.o
src/ir/omake_ir.cmi
src/ir/omake_ir.cmx
src/ir/omake_ir.o
src/ir/omake_ir_free_vars.cmi
src/ir/omake_ir_free_vars.cmx
src/ir/omake_ir_free_vars.o
src/ir/omake_ir_print.cmi
src/ir/omake_ir_print.cmx
src/ir/omake_ir_print.o
src/ir/omake_ir_util.cmi
src/ir/omake_ir_util.cmx
src/ir/omake_ir_util.o
src/ir/omake_lexer.cmi
src/ir/omake_lexer.cmx
src/ir/omake_lexer.o
src/ir/omake_node.cmi
src/ir/omake_node.cmx
src/ir/omake_node.o
src/ir/omake_node_sig.cmi
src/ir/omake_node_sig.cmx
src/ir/omake_node_sig.o
src/ir/omake_node_type.cmi
src/ir/omake_node_type.cmx
src/ir/omake_node_type.o
src/ir/omake_options.cmi
src/ir/omake_options.cmx
src/ir/omake_options.o
src/ir/omake_parser.cmi
src/ir/omake_parser.cmx
src/ir/omake_parser.o
src/ir/omake_pos.cmi
src/ir/omake_pos.cmx
src/ir/omake_pos.o
src/ir/omake_shell_type.cmi
src/ir/omake_shell_type.cmx
src/ir/omake_shell_type.o
src/ir/omake_state.cmi
src/ir/omake_state.cmx
src/ir/omake_state.o
src/ir/omake_symbol.cmi
src/ir/omake_symbol.cmx
src/ir/omake_symbol.o
src/ir/omake_value_print.cmi
src/ir/omake_value_print.cmx
src/ir/omake_value_print.o
src/ir/omake_value_type.cmi
src/ir/omake_value_type.cmx
src/ir/omake_value_type.o
src/ir/omake_var.cmi
src/ir/omake_var.cmx
src/ir/omake_var.o
src/ir/omake_virtual_id.cmi
src/ir/omake_virtual_id.cmx
src/ir/omake_virtual_id.o
src/libmojave/lm.a
src/libmojave/lm.cmxa
src/libmojave/lm_arg.cmi
src/libmojave/lm_arg.cmx
src/libmojave/lm_arg.ml
src/libmojave/lm_arg.mli
src/libmojave/lm_arg.o
src/libmojave/lm_array_util.cmi
src/libmojave/lm_array_util.cmx
src/libmojave/lm_array_util.ml
src/libmojave/lm_array_util.mli
src/libmojave/lm_array_util.o
src/libmojave/lm_channel.cmi
src/libmojave/lm_channel.cmx
src/libmojave/lm_channel.ml
src/libmojave/lm_channel.mli
src/libmojave/lm_channel.o
src/libmojave/lm_db.cmi
src/libmojave/lm_db.cmx
src/libmojave/lm_db.ml
src/libmojave/lm_db.mli
src/libmojave/lm_db.o
src/libmojave/lm_debug.cmi
src/libmojave/lm_debug.cmx
src/libmojave/lm_debug.ml
src/libmojave/lm_debug.mli
src/libmojave/lm_debug.o
src/libmojave/lm_filename_util.cmi
src/libmojave/lm_filename_util.cmx
src/libmojave/lm_filename_util.ml
src/libmojave/lm_filename_util.mli
src/libmojave/lm_filename_util.o
src/libmojave/lm_fs_case_sensitive.cmi
src/libmojave/lm_fs_case_sensitive.cmx
src/libmojave/lm_fs_case_sensitive.ml
src/libmojave/lm_fs_case_sensitive.mli
src/libmojave/lm_fs_case_sensitive.o
src/libmojave/lm_glob.cmi
src/libmojave/lm_glob.cmx
src/libmojave/lm_glob.ml
src/libmojave/lm_glob.mli
src/libmojave/lm_glob.o
src/libmojave/lm_hash.cmi
src/libmojave/lm_hash.cmx
src/libmojave/lm_hash.ml
src/libmojave/lm_hash.mli
src/libmojave/lm_hash.o
src/libmojave/lm_hash_sig.cmi
src/libmojave/lm_hash_sig.cmx
src/libmojave/lm_hash_sig.ml
src/libmojave/lm_hash_sig.o
src/libmojave/lm_heap.cmi
src/libmojave/lm_heap.cmx
src/libmojave/lm_heap.ml
src/libmojave/lm_heap.o
src/libmojave/lm_index.cmi
src/libmojave/lm_index.cmx
src/libmojave/lm_index.ml
src/libmojave/lm_index.mli
src/libmojave/lm_index.o
src/libmojave/lm_int_set.cmi
src/libmojave/lm_int_set.cmx
src/libmojave/lm_int_set.ml
src/libmojave/lm_int_set.mli
src/libmojave/lm_int_set.o
src/libmojave/lm_lexer.cmi
src/libmojave/lm_lexer.cmx
src/libmojave/lm_lexer.ml
src/libmojave/lm_lexer.mli
src/libmojave/lm_lexer.o
src/libmojave/lm_list_util.cmi
src/libmojave/lm_list_util.cmx
src/libmojave/lm_list_util.ml
src/libmojave/lm_list_util.mli
src/libmojave/lm_list_util.o
src/libmojave/lm_location.cmi
src/libmojave/lm_location.cmx
src/libmojave/lm_location.ml
src/libmojave/lm_location.mli
src/libmojave/lm_location.o
src/libmojave/lm_map.cmi
src/libmojave/lm_map.cmx
src/libmojave/lm_map.ml
src/libmojave/lm_map.mli
src/libmojave/lm_map.o
src/libmojave/lm_map_sig.cmi
src/libmojave/lm_map_sig.cmx
src/libmojave/lm_map_sig.ml
src/libmojave/lm_map_sig.o
src/libmojave/lm_notify.cmi
src/libmojave/lm_notify.cmx
src/libmojave/lm_notify.ml
src/libmojave/lm_notify.mli
src/libmojave/lm_notify.o
src/libmojave/lm_parser.cmi
src/libmojave/lm_parser.cmx
src/libmojave/lm_parser.ml
src/libmojave/lm_parser.mli
src/libmojave/lm_parser.o
src/libmojave/lm_position.cmi
src/libmojave/lm_position.cmx
src/libmojave/lm_position.ml
src/libmojave/lm_position.mli
src/libmojave/lm_position.o
src/libmojave/lm_printf.cmi
src/libmojave/lm_printf.cmx
src/libmojave/lm_printf.ml
src/libmojave/lm_printf.mli
src/libmojave/lm_printf.o
src/libmojave/lm_set.cmi
src/libmojave/lm_set.cmx
src/libmojave/lm_set.ml
src/libmojave/lm_set.mli
src/libmojave/lm_set.o
src/libmojave/lm_set_sig.cmi
src/libmojave/lm_set_sig.cmx
src/libmojave/lm_set_sig.ml
src/libmojave/lm_set_sig.o
src/libmojave/lm_string_set.cmi
src/libmojave/lm_string_set.cmx
src/libmojave/lm_string_set.ml
src/libmojave/lm_string_set.mli
src/libmojave/lm_string_set.o
src/libmojave/lm_string_util.cmi
src/libmojave/lm_string_util.cmx
src/libmojave/lm_string_util.ml
src/libmojave/lm_string_util.mli
src/libmojave/lm_string_util.o
src/libmojave/lm_symbol.cmi
src/libmojave/lm_symbol.cmx
src/libmojave/lm_symbol.ml
src/libmojave/lm_symbol.mli
src/libmojave/lm_symbol.o
src/libmojave/lm_terminfo.cmi
src/libmojave/lm_terminfo.cmx
src/libmojave/lm_terminfo.ml
src/libmojave/lm_terminfo.mli
src/libmojave/lm_terminfo.o
src/libmojave/lm_termsize.cmi
src/libmojave/lm_termsize.cmx
src/libmojave/lm_termsize.ml
src/libmojave/lm_termsize.mli
src/libmojave/lm_termsize.o
src/libmojave/lm_thread.cmi
src/libmojave/lm_thread.cmx
src/libmojave/lm_thread.ml
src/libmojave/lm_thread.mli
src/libmojave/lm_thread.o
src/libmojave/lm_thread_core.cmi
src/libmojave/lm_thread_core.cmx
src/libmojave/lm_thread_core.ml
src/libmojave/lm_thread_core.mli
src/libmojave/lm_thread_core.o
src/libmojave/lm_thread_pool.cmi
src/libmojave/lm_thread_pool.cmx
src/libmojave/lm_thread_pool.ml
src/libmojave/lm_thread_pool.mli
src/libmojave/lm_thread_pool.o
src/libmojave/lm_thread_sig.cmi
src/libmojave/lm_thread_sig.cmx
src/libmojave/lm_thread_sig.ml
src/libmojave/lm_thread_sig.o
src/libmojave/lm_uname.cmi
src/libmojave/lm_uname.cmx
src/libmojave/lm_uname.ml
src/libmojave/lm_uname.mli
src/libmojave/lm_uname.o
src/libmojave/lm_unix_util.cmi
src/libmojave/lm_unix_util.cmx
src/libmojave/lm_unix_util.ml
src/libmojave/lm_unix_util.mli
src/libmojave/lm_unix_util.o
src/magic/.cache.magic
src/magic/.omc.magic
src/magic/.omo.magic
src/magic/magic.a
src/magic/magic.cmxa
src/magic/omake_gen_magic
src/magic/omake_gen_magic.cmi
src/magic/omake_gen_magic.cmx
src/magic/omake_gen_magic.o
src/magic/omake_gen_magic.opt
src/magic/omake_magic.cmi
src/magic/omake_magic.cmx
src/magic/omake_magic.ml
src/magic/omake_magic.o
src/main/cvs_realclean
src/main/cvs_realclean.cmi
src/main/cvs_realclean.cmx
src/main/cvs_realclean.o
src/main/cvs_realclean.opt
src/main/omake
src/main/omake.opt
src/main/omake_main.cmi
src/main/omake_main.cmx
src/main/omake_main.o
src/main/omake_shell.cmi
src/main/omake_shell.cmx
src/main/omake_shell.o
src/main/osh
src/shell/omake_shell_completion.cmi
src/shell/omake_shell_completion.cmx
src/shell/omake_shell_completion.o
src/shell/omake_shell_job.cmi
src/shell/omake_shell_job.cmx
src/shell/omake_shell_job.o
src/shell/omake_shell_lex.cmi
src/shell/omake_shell_lex.cmx
src/shell/omake_shell_lex.o
src/shell/omake_shell_parse.cmi
src/shell/omake_shell_parse.cmx
src/shell/omake_shell_parse.ml
src/shell/omake_shell_parse.mli
src/shell/omake_shell_parse.o
src/shell/omake_shell_sys.cmi
src/shell/omake_shell_sys.cmx
src/shell/omake_shell_sys.ml
src/shell/omake_shell_sys.o
src/shell/omake_shell_sys_type.cmi
src/shell/omake_shell_sys_type.cmx
src/shell/omake_shell_sys_type.o
src/shell/shell.a
src/shell/shell.cmxa
src/util/fmarshal.cmi
src/util/fmarshal.cmx
src/util/fmarshal.o
src/util/ocaml_patch.cmi
src/util/ocaml_patch.cmx
src/util/ocaml_patch.ml
src/util/ocaml_patch.o
src/util/omake_handle_table.cmi
src/util/omake_handle_table.cmx
src/util/omake_handle_table.o
src/util/omake_marshal.cmi
src/util/omake_marshal.cmx
src/util/omake_marshal.o
src/util/omake_print_util.cmi
src/util/omake_print_util.cmx
src/util/omake_print_util.o
src/util/omake_printf.cmi
src/util/omake_printf.cmx
src/util/omake_printf.o
src/util/omake_readline.cmi
src/util/omake_readline.cmx
src/util/omake_readline.o
src/util/omake_util.cmi
src/util/omake_util.cmx
src/util/omake_util.o
src/util/omake_wild.cmi
src/util/omake_wild.cmx
src/util/omake_wild.o
src/util/util.a
src/util/util.cmxa
